<!DOCTYPE html>
<html lang="ro">

<head>
    <title>
        <%- locals.title %>
    </title>
    <%- include('../fragments/head'); %>
</head>

<body>
    <header>
        <%- include('../fragments/header'); %>
    </header>
    <main>
        <!-- error -->
        <div class="section not-found">
            <div class="section-center not-found-center">
                <!-- not-found img -->
                <div class="not-found-img">
                    <figure>
                        <img src="<%- locals.image %>" alt="error img" class="hero-photo">
                    </figure>
                </div>
                <!-- not-found info -->
                <article class="not-found-info">
                    <!-- section title -->
                    <div class="section-title not-found-title">
                        <h2>
                            <%- locals.header %>
                        </h2>
                        <div class="underline"></div>
                    </div>
                    <!-- end of section title -->
                    <%- locals.info %>
                </article>
            </div>
        </div>
        <!-- end of error -->
        <!-- floating button (back to top) -->
        <button id="backToTopBtn" title="Inapoi Sus"><i class="fa-solid fa-arrow-up"></i></button>
    </main>
    <footer class="footer">
        <%- include('../fragments/footer') %>
    </footer>
    <script type="module" src="/resources/js/app.js"></script>
</body>

</html>