<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Anunturi Auto</title>
    <%- include('../fragments/head'); %>
</head>

<body>
    <header>
        <%- include('../fragments/header'); %>
    </header>
    <main>
        <!-- search -->
        <div class="section search" id="search">
            <div class="section-center search-center">
                <article class="search-bar">
                    <!-- section title -->
                    <div class="section-title search-title">
                        <h2>cautare</h2>
                        <div class="underline"></div>
                    </div>
                    <!-- end of section title -->
                    <form class="search-form">
                        <div>
                            <label for="make">marca</label>
                            <select name="make" id="make">
                                <option value="">alege marca</option>
                                <option value="mercedes-benz">mercedes benz</option>
                                <option value="bmw">bmw</option>
                                <option value="audi">audi</option>
                            </select>
                        </div>
                        <div>
                            <label for="model">model</label>
                            <select name="model" id="model">
                                <option value="">alege model</option>
                                <option value="s-class">s class</option>
                                <option value="seria-5">seria 5</option>
                                <option value="s5">s5</option>
                            </select>
                        </div>
                        <div>
                            <label for="price">pret</label>
                            <select name="price" id="price">
                                <option value="">toate preturile</option>
                                <option value="20000">20.000€</option>
                                <option value="50000">50.000€</option>
                                <option value="100000">100.000€</option>
                            </select>
                        </div>
                        <input type="submit" value="cauta anunturi" class="btn">
                    </form>
                </article>
            </div>
        </div>
        <!-- end of search -->
        <!-- about us -->
        <div class="section about" id="about">
            <div class="section-center about-center">
                <!-- about img -->
                <div class="about-img">
                    <figure>
                        <img src="/resources/images/about-img.jpg" alt="about img" class="hero-photo">
                        <figcaption>
                            <a href="/products">Gaseste masina dorita</a>
                        </figcaption>
                    </figure>
                </div>
                <!-- about info -->
                <article class="about-info">
                    <!-- section title -->
                    <div class="section-title about-title">
                        <h2>despre noi</h2>
                        <div class="underline"></div>
                    </div>
                    <!-- end of section title -->
                    <p>Bine ai venit pe cea mai mare platforma de <strong>anunturi auto</strong>! Aici gasesti mii de
                        <b>oferte auto</b> listate
                        cu
                        istoric complet si garantie. Afla mai multe detalii <a href="/about">aici.</a>
                    </p>
                    <p>Vrei sa-ti <strong>vinzi masina</strong>? Inregistreaza-te acum si <em>incarca un anunt</em>.</p>
                </article>
            </div>
        </div>
        <!-- end of about us -->
        <!-- popular listings -->
        <section class="section products bg-grey" id="products">
            <!-- section title -->
            <div class="section-title products-title">
                <h2>anunturi <br class="word-break"> populare</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center products-center">
                <!-- single product -->
                <div class="product-card card-fade">
                    <a href="/products">
                        <div class="product-img-container">
                            <figure>
                                <img src="/resources/images/product-1.jpg" alt="product" class="product-img">
                                <figcaption>bmw seria 3 2018</figcaption>
                            </figure>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="product-footer">
                            <span>
                                <i class="fa-solid fa-gauge-high"></i>
                                200 cp
                            </span>
                            <span>
                                <i class="fa-solid fa-gas-pump"></i>
                                diesel
                            </span>
                            <span>
                                <i class="fa-solid fa-road"></i>
                                19.000 km
                            </span>
                        </div>
                    </a>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product-card card-fade">
                    <a href="/products">
                        <div class="product-img-container">
                            <figure>
                                <img src="/resources/images/product-2.jpg" alt="product" class="product-img">
                                <figcaption>corvette 2019</figcaption>
                            </figure>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="product-footer">
                            <span>
                                <i class="fa-solid fa-gauge-high"></i>
                                200 cp
                            </span>
                            <span>
                                <i class="fa-solid fa-gas-pump"></i>
                                diesel
                            </span>
                            <span>
                                <i class="fa-solid fa-road"></i>
                                19.000 km
                            </span>
                        </div>
                    </a>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product-card card-fade">
                    <a href="/products">
                        <div class="product-img-container">
                            <figure>
                                <img src="/resources/images/product-3.jpg" alt="product" class="product-img">
                                <figcaption>audi s5 2020</figcaption>
                            </figure>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="product-footer">
                            <span>
                                <i class="fa-solid fa-gauge-high"></i>
                                200 cp
                            </span>
                            <span>
                                <i class="fa-solid fa-gas-pump"></i>
                                diesel
                            </span>
                            <span>
                                <i class="fa-solid fa-road"></i>
                                19.000 km
                            </span>
                        </div>
                    </a>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product-card card-fade">
                    <a href="/products">
                        <div class="product-img-container">
                            <figure>
                                <img src="/resources/images/product-4.jpg" alt="product" class="product-img">
                                <figcaption>range rover 2021</figcaption>
                            </figure>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="product-footer">
                            <span>
                                <i class="fa-solid fa-gauge-high"></i>
                                200 cp
                            </span>
                            <span>
                                <i class="fa-solid fa-gas-pump"></i>
                                diesel
                            </span>
                            <span>
                                <i class="fa-solid fa-road"></i>
                                19.000 km
                            </span>
                        </div>
                    </a>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product-card card-fade">
                    <a href="/products">
                        <div class="product-img-container">
                            <figure>
                                <img src="/resources/images/product-5.jpg" alt="product" class="product-img">
                                <figcaption>toyota supra 2017</figcaption>
                            </figure>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="product-footer">
                            <span>
                                <i class="fa-solid fa-gauge-high"></i>
                                200 cp
                            </span>
                            <span>
                                <i class="fa-solid fa-gas-pump"></i>
                                diesel
                            </span>
                            <span>
                                <i class="fa-solid fa-road"></i>
                                19.000 km
                            </span>
                        </div>
                    </a>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product-card card-fade">
                    <a href="/products">
                        <div class="product-img-container">
                            <figure>
                                <img src="/resources/images/product-6.jpg" alt="product" class="product-img">
                                <figcaption>jeep wrangler 2020</figcaption>
                            </figure>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="product-footer">
                            <span>
                                <i class="fa-solid fa-gauge-high"></i>
                                200 cp
                            </span>
                            <span>
                                <i class="fa-solid fa-gas-pump"></i>
                                diesel
                            </span>
                            <span>
                                <i class="fa-solid fa-road"></i>
                                19.000 km
                            </span>
                        </div>
                    </a>
                </div>
                <!-- end of single product -->
                <!-- slideshow -->
                <!-- next and previous buttons -->
                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>
                <!-- dots -->
                <div class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <!-- end of slideshow -->
            </div>
        </section>
        <!-- end of popular listings -->
        <!-- news -->
        <section class="section news" id="news">
            <!-- section title -->
            <div class="section-title news-title">
                <h2>noutati</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center news-center">
                <section class="section showcases" id="showcases">
                    <!-- section title -->
                    <div class="section-title showcases-title">
                        <h3>ultimele aparitii</h3>
                    </div>
                    <!-- end of section title -->
                    <div class="showcases-center">
                        <!-- single news -->
                        <div class="news-card news-card-1">
                            <div class="product-img-container news-img-container">
                                <figure>
                                    <img src="/resources/images/news-1.jpg" alt="product" class="product-img">
                                    <figcaption>
                                        <a href="https://www.youtube.com/embed/qHLxQjk4O04" target="news-frame-1"
                                            class="news-link">
                                            mercedes s 2022
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                            <details>
                                <summary id="news-summary-1">noul mercedes s</summary>
                                <div class="news-content">
                                    <iframe src="https://www.youtube.com/embed/qHLxQjk4O04" title="Mercedes S"
                                        name="news-frame-1"></iframe>
                                    <p>La fel ca un prieten bun, Clasa S are grija de toti. Fie ca sunt pasageri sau
                                        pietoni. Noul model Clasa S se concentreaza asupra elementelor esentiale.</p>
                                    <div class="news-footer">
                                        <a href="https://www.mercedes-benz.ro" target="_blank">mai multe detalii
                                            aici</a>
                                        <a href="/resources/images/news-1.jpg" download="mercedes">descarca galerie</a>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <!-- end of single news -->
                        <!-- single news -->
                        <div class="news-card news-card-2">
                            <div class="product-img-container news-img-container">
                                <figure>
                                    <img src="/resources/images/news-2.jpg" alt="product" class="product-img">
                                    <figcaption>
                                        <a href="https://www.youtube.com/embed/6JnuEBRDtvA" target="news-frame-2"
                                            class="news-link">
                                            bmw seria 5 2022
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                            <details>
                                <summary id="news-summary-2">bmw lanseaza noul seria 5</summary>
                                <div class="news-content">
                                    <iframe src="https://www.youtube.com/embed/6JnuEBRDtvA" title="BMW Seria 5"
                                        name="news-frame-2"></iframe>
                                    <p>BMW Seria 5 Sedan este un sedan modern din clasa business. De la prima vedere,
                                        acesta
                                        ofera sportivitate eleganta care este exprimata prin silueta dinamica şi
                                        designul
                                        minimalist.</p>
                                    <div class="news-footer">
                                        <a href="https://www.bmw.ro" target="_blank">mai multe detalii aici</a>
                                        <a href="/resources/images/news-2.jpg" download="bmw">descarca galerie</a>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <!-- end of single news -->
                        <!-- single news -->
                        <div class="news-card news-card-3">
                            <div class="product-img-container news-img-container">
                                <figure>
                                    <img src="/resources/images/news-3.jpg" alt="product" class="product-img">
                                    <figcaption>
                                        <a href="https://www.youtube.com/embed/_LzrQst0sIU" target="news-frame-3"
                                            class="news-link">
                                            audi s5 2022
                                        </a>
                                    </figcaption>
                                </figure>
                            </div>
                            <details>
                                <summary id="news-summary-3">audi surprinde cu ultimul s5</summary>
                                <div class="news-content">
                                    <iframe src="https://www.youtube.com/embed/_LzrQst0sIU" title="Audi S5"
                                        name="news-frame-3"></iframe>
                                    <p>Cu motorul sau puternic, Audi S5 Cabriolet TFSI asigura parametri dinamici
                                        impresionanti, agilitate si călătorii de neuitat - la nivel de automobil sport
                                        autentic.</p>
                                    <div class="news-footer">
                                        <a href="https://www.audi.ro" target="_blank">mai multe detalii aici</a>
                                        <a href="/resources/images/news-3.jpg" download="audi">descarca galerie</a>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <!-- end of single news -->
                    </div>
                </section>
                <section class="section articles" id="articles">
                    <!-- section title -->
                    <div class="section-title articles-title">
                        <h3>stiri</h3>
                    </div>
                    <!-- end of section title -->
                    <div class="articles-center">
                        <!-- single article -->
                        <div class="article-card article-card-1">
                            <div class="product-img-container article-img-container">
                                <figure>
                                    <img src="/resources/images/article-1.jpg" alt="product" class="product-img">
                                    <figcaption>
                                        <p class="news-link">citeste mai multe</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <details>
                                <summary id="article-summary-1">totul despre nissan <span class="uppercase">gtr</span>
                                </summary>
                                <div class="news-content">
                                    <p>Nissan GT-R (R35) este o mașină sport coupe proiectată de Nissan Motor ,
                                        moștenitorul Skyline GT-R (R34) . În 2001, Nissan a început dezvoltarea
                                        următoarei generații GT-R prezentând primul concept despre ceea ce ar fi cea mai
                                        puternică mașină de producție japoneză construită vreodată la Tokyo . În 2005 a
                                        fost expus al doilea prototip, iar doi ani mai târziu a fost prezentată
                                        versiunea gata de comercializare.
                                    </p>
                                </div>
                            </details>
                        </div>
                        <!-- end of single article -->
                        <!-- single article -->
                        <div class="article-card article-card-2">
                            <div class="product-img-container article-img-container">
                                <figure>
                                    <img src="/resources/images/article-2.jpg" alt="product" class="product-img">
                                    <figcaption>
                                        <p class="news-link">citeste mai multe</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <details>
                                <summary id="article-summary-2">cum putem reduce consumul</summary>
                                <div class="news-content">
                                    <p>Pare ca de zeci de ani ne concentram pe economia de carburant, asta fiind un
                                        lucru bun. Intrebarea urmatoare este, cum obtinem kilometraj mai mare cu
                                        cantitate de carburant mai mica? Daca vrei sa stii cum sa economisesti la
                                        consumul de carburant, urmareste sa incerci schimbari in obiceiurile tale cu
                                        privire la consum.</p>
                                </div>
                            </details>
                        </div>
                        <!-- end of single article -->
                        <!-- single article -->
                        <div class="article-card article-card-3">
                            <div class="product-img-container article-img-container">
                                <figure>
                                    <img src="/resources/images/article-3.jpg" alt="product" class="product-img">
                                    <figcaption>
                                        <p class="news-link">citeste mai multe</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <details>
                                <summary id="article-summary-3">petrol vs electric</summary>
                                <div class="news-content">
                                    <p>Benzina sau motorina este la inceput petrol, care se gaseste la aproximativ 1.800
                                        metri sub suprafața pământului. O mare cantitate de petrol se extrage folosind
                                        sondele de petrol. Sondele nu functioneaza de la sine si în majoritatea
                                        cazurilor folosesc electricitate. În medie, este nevoie de 9.960 kilowați/oră de
                                        electricitate în fiecare lună pentru a alimenta o singura sonda.</p>
                                </div>
                            </details>
                        </div>
                        <!-- end of single article -->
                    </div>
                </section>
                <section class="section presentations" id="presentations">
                    <!-- section title -->
                    <div class="section-title presentations-title">
                        <h3>prezentari</h3>
                    </div>
                    <!-- end of section title -->
                    <div class="presentations-center">
                        <div class="presentation">
                            <iframe src="https://www.youtube.com/embed/Tm4rkRpoapw" title="Prezentare Auto"
                                name="presentation-frame"></iframe>
                            <div class="presentation-links">
                                <a href="https://www.youtube.com/embed/Tm4rkRpoapw" target="presentation-frame"
                                    class="presentation-link">
                                    amg one
                                </a>
                                <a href="https://www.youtube.com/embed/-kMF1W00thU" target="presentation-frame"
                                    class="presentation-link">
                                    bmw i7
                                </a>
                                <a href="https://www.youtube.com/embed/_ZHAYPkQtp8" target="presentation-frame"
                                    class="presentation-link">
                                    audi a8
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <!-- end of news -->
        <!-- top makes -->
        <section class="section top-makes bg-grey" id="top-makes">
            <!-- section title -->
            <div class="section-title top-makes-title">
                <h2>cele mai cautate marci</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center top-makes-center">
                <table>
                    <caption>cele mai cautate marci si modele din 2022</caption>
                    <thead>
                        <tr>
                            <th>mercedes-benz</th>
                            <th>bmw</th>
                            <th>audi</th>
                            <th>ford</th>
                            <th>skoda</th>
                            <th>renault</th>
                            <th>volkswagen</th>
                            <th>land rover</th>
                            <th>seat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>c class</td>
                            <td>x5</td>
                            <td>a4</td>
                            <td>focus</td>
                            <td>fabia</td>
                            <td>clio</td>
                            <td>golf</td>
                            <td>discovery</td>
                            <td>leon</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>gle</td>
                            <td>m2</td>
                            <td>s3</td>
                            <td>puma</td>
                            <td>octavia</td>
                            <td>symbol</td>
                            <td>polo</td>
                            <td>defender</td>
                            <td>ibiza</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>glc</td>
                            <td>i3</td>
                            <td>q4</td>
                            <td>ranger</td>
                            <td>superb</td>
                            <td>kadjar</td>
                            <td>passat</td>
                            <td>freelander</td>
                            <td>toledo</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">pe acestea si pe multe altele le gasiti in <a href="/products">lista
                                    noastra
                                    de
                                    anunturi</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- end of section title -->
        </section>
        <!-- end of top makes -->
        <!-- events (admin) -->
        <section class="section events admin" id="events">
            <!-- section title -->
            <div class="section-title events-title">
                <h2><br class="word-break">calendar</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center events-center">
                <ul>
                    <li>
                        <span>30.10.2022 - Audit site </span>
                    </li>
                    <li>
                        <span>15.11.2022 - Sedinta generala </span>
                    </li>
                    <li>
                        <span>05.12.2022 - Schema monetizare </span>
                    </li>
                    <li>
                        <span>25.01.2023 - Lansare pachete de promovare </span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end of events (admin) -->
        <!-- online users (admin) -->
        <section class="section online-users admin bg-grey" id="online-users">
            <!-- section title -->
            <div class="section-title online-users-title">
                <h2>utilizatori <br class="word-break"> online</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center online-users-center">
                <ul>
                    <li>
                        <span>Stefan</span>
                    </li>
                    <li>
                        <span>Alex</span>
                    </li>
                    <li>
                        <span>Ioana</span>
                    </li>
                    <li>
                        <span>Luca</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end of online users (admin) -->
        <!-- statistics (admin) -->
        <section class="section statistics admin" id="statistics">
            <!-- section title -->
            <div class="section-title statistics-title">
                <h2><br class="word-break">statistici</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center statistics-center">
                <ul>
                    <li>
                        <span>Adresa IP: <%- locals.ip %> </span>
                    </li>
                    <li>
                        <span>Anunturi listate: 1.000</span>
                    </li>
                    <li>
                        <span>Utilizatori inregistrati: 100</span>
                    </li>
                    <li>
                        <span>Numar total de vizionari: 10.000</span>
                    </li>
                    <!-- <li>
                        <span>Durata medie a unei sesiuni: 3 min</span>
                    </li> -->
                </ul>
            </div>
        </section>
        <!-- end of statistics (admin) -->
        <!-- server info (admin) -->
        <section class="section server-info admin bg-grey" id="server-info">
            <!-- section title -->
            <div class="section-title server-info-title">
                <h2><br class="word-break">date server</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <div class="section-center server-info-center">
                <ul>
                    <li>
                        <span>Conexiuni active: 2.000</span>
                    </li>
                    <li>
                        <span>Utilizatori inregistrati: 100</span>
                    </li>
                    <li>
                        <span>Numar total de vizionari: 10.000</span>
                    </li>
                    <li>
                        <span>Durata medie a unei sesiuni: 3 min</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end of server info (admin) -->
        <!-- gallery -->
        <section class="section gallery admin" id="gallery">
            <!-- section title -->
            <div class="section-title gallery-title">
                <h2>galerie</h2>
                <div class="underline"></div>
            </div>
            <!-- end of section title -->
            <%- include('../fragments/gallery') %>
        </section>
        <!-- end of gallery -->
        <!-- floating button (back to top) -->
        <button id="backToTopBtn" title="Inapoi Sus"><i class="fa-solid fa-arrow-up"></i></button>
    </main>
    <footer class="footer">
        <%- include('../fragments/footer') %>
    </footer>
    <script type="module" src="/resources/js/app.js"></script>
</body>

</html>