<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Inregistrare</title>
    <%- include("../fragments/head") %>
</head>

<body>
    <header>
        <%- include("../fragments/header") %>
    </header>
    <main>
        <section class="section signup">
            <div class="section-title products-page-title">
                <h1>
                    <% if(locals.login) { %>
                        Logare utilizator
                        <% } else { %>
                            Inregistrare utilizator
                            <% } %>
                </h1>
                <div class="underline"></div>
            </div>
            <% if (locals.login) { %>
                <div class="section-center signup-center filter-section">
                    <%- include("../fragments/login") %>
                </div>
                <div class="section-center">
                    Nu ai cont? <a href="/signup">Inregistreaza-te aici.</a>
                    <% if(locals.err) { %>
                        <div class="signup-error">
                            <%- locals.err %>
                        </div>
                        <% } %>
                </div>
                <% } else { %>
                    <% if(!locals.response) { %>
                        <div class="section-center signup-center filter-section">
                            <%- include("../fragments/form", {action: "/signup" }) %>
                        </div>
                        <% } %>
                            <div class="section-center">
                                <% if(locals.response) { %>
                                    <div class="signup-success"><%- locals.response+"<br />"%>
                                    </div>
                                    <% } %>
                                        <% if(locals.err) { %>
                                            <div class="signup-error">
                                                <%- locals.err %>
                                            </div>
                                            <% } %>
                            </div>
                            <% } %>
        </section>
        <!-- floating button (back to top) -->
        <button id="backToTopBtn" title="Inapoi Sus"><i class="fa-solid fa-arrow-up"></i></button>
    </main>
    <footer class="footer">
        <%- include("../fragments/footer") %>
    </footer>
    <script type="module" src="/resources/js/app.js"></script>
</body>

</html>